<%if action_name == 'invoice_details'%>
    <span><%= "#{action_name.titleize}"%> Management</span>
<%elsif action_name == 'users'%>
    <span><%= "#{ action_name.titleize}" %> Management</span>
<%end%>

